.player-img {
    width: 150px;
}

.row {
    display: inline-block;
}

tr {
    height: 80px;
}

td {
    width: 80px;
    font-size: 44pt;
    text-align: center;
    vertical-align: middle;
}

table {
  border-collapse: collapse;
  border-style: hidden;
}

table td {
  border: 5px solid black;
}

h2 {
    text-align: center;
}

.choose-player {
    width: 100%;
    font-size: 20pt;
}

.my-turn {
    border: 5px solid green;
    border-radius: 10px;
}

.not-my-turn {
    border: 5px solid white;
    border-radius: 10px;
}

.winner {
    background-color: #6699ff;
}

.match-width {
    width: 600px;
}

button {
    display: block;
    margin: auto;
    text-align: center;
    font-size: 28pt;
}

